@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
	--gradient-white: 115, 173, 184, 0.247; 
	--gradient-gray: 43, 45, 68, 0.93;
	--gradient-lightgray: 0, 0, 0, 0.3  
  }
/* header-menu */

.text-header {
	@apply text-base text-white font-medium font-sans font-motiva; 

	&:hover{
		@apply text-lightwhite
	}
}

.dropdown-menu {
	@apply block px-4 py-2 text-gray text-white font-medium  bg-gray text-sm font-sans font-motiva;

	&:hover{
		@apply bg-white text-gray
	}
}

.active-menu {
	@apply text-blue underline  decoration-2  font-medium font-sans font-motiva
}


/* profile */

.bg-profile {
	background-image: url('/src/assets/bg_dots.png');
  	background-size: cover;
  	background-position: center;
}
